In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from readsql import querytodataframe,showtables,describetable

In [2]:
showtables()

  Tables_in_swiftmarket
0            categories
1             customers
2             employees
3             salesdata
4         subcategories
5             suppliers

In [3]:
query = """SELECT c.categoryname,sum(s.totalprice) as totalsales
from salesdata s
inner join subcategories sb
on s.subcatid = sb.subcatid
inner join categories c
on sb.categoryid = c.categoryid
group by c.categoryname;"""

df = querytodataframe(query)
df

                      categoryname    totalsales
0          Electronics and Gadgets  319374417.00
1      Home and Kitchen Appliances  269316684.00
2     Outdoor and Sports Equipment  231074739.00
3     Health and Wellness Products  324761329.00
4  Books and Educational Materials  282897933.00
5     Pet Supplies and Accessories  361848986.00

In [ ]:
plt.figure(figsize=(12,5))
plt.title('top categories based on annuaol sales')
plt.bar(df['categoryname'].values,height=df['totalsales'].values)

for i in range(len(df['categoryname'])):
    plt.annotate(xy=(i,df['totalsales'].values[i]),
                 text=df['totalsales'].values[i],
                 horizontalaligment='center')
    

plt